version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    container_name: arari_pro_backend
    volumes:
      - arari_pro_db:/app/api
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    container_name: arari_pro_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - .env

volumes:
  arari_pro_db:
    name: arari_pro_db
